/* app/page.module.css */

.container {
    padding: 20px;
}

.chartContainer {
    margin-top: 20px;
}

.speedometerRow {
    display: flex; /* Mengatur kontainer sebagai flexbox */
    justify-content: space-around; /* Menyebar item secara merata */
    align-items: center; /* Menyelaraskan item secara vertikal */
}
.label {
    fill: #757575; /* Warna label */
    font-size: 16px; /* Ukuran font */
    text-anchor: middle; /* Pusatkan teks */
    dominant-baseline: middle; /* Pusatkan teks secara vertikal */
    transform: translateY(30px); /* Turunkan label */
}