/* app/page.module.css */

.container {
    padding: 20px;
}

.chartContainer {
    margin-top: 20px;
}

.speedometerRow {
    display: flex; /* Mengatur kontainer sebagai flexbox */
    justify-content: space-around; /* Menyebar item secara merata */
    align-items: center; /* Menyelaraskan item secara vertikal */
}
@media (max-width: 768px) {
    .speedometerRow {
        flex-direction: column; /* Mengubah arah flex menjadi kolom pada perangkat kecil */
        align-items: center; /* Pusatkan item secara horizontal */
    }

    .speedometer {
        min-width: 100%; /* Membuat setiap speedometer mengambil lebar penuh pada perangkat kecil */
        margin: 10px 0; /* Menambahkan margin vertikal untuk jarak antar speedometer */
    }
}